<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MineSight Torque 3D Viewer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/three")
    @Scripts.Render("~/bundles/stats")
    @Scripts.Render("~/bundles/trackball")
    @Scripts.Render("~/bundles/viewmodel")
    @RenderSection("scripts", required: false)
</body>
</html>
